# 習題五

## 匯入套件

In [458]:
import pandas as pd
import statsmodels.api as sm
import numpy as np

## 讀入資料

### 兩家股票報酬率

In [459]:
df = pd.read_table(r'C:\Users\s0954\Desktop\財金計量方法\Fama_hw\B10733033_王廣和_財金計量方法_三因子模型\problem21.txt')
df.head(5)

   zhongxin  zyhy        Date
0      3.87  3.51  2014-01-01
1      3.86  3.52  2014-01-02
2      3.80  3.35  2014-01-03
3      3.74  3.23  2014-01-06
4      3.73  3.20  2014-01-07

### 將日期設為index，方便與其他資料整合

In [460]:
df.index = pd.to_datetime(df.Date)
df.head(5)

            zhongxin  zyhy        Date
Date
2014-01-01      3.87  3.51  2014-01-01
2014-01-02      3.86  3.52  2014-01-02
2014-01-03      3.80  3.35  2014-01-03
2014-01-06      3.74  3.23  2014-01-06
2014-01-07      3.73  3.20  2014-01-07

### 中新(?)報酬率資料

In [461]:
zhongxin = df.iloc[:,0].pct_change(1)[1:]#pct_change 是取百分比變化，括號裡可以放置間格天數，第一項為 NaN不取
zhongxin.head(5)

Date
2014-01-02   -0.002584
2014-01-03   -0.015544
2014-01-06   -0.015789
2014-01-07   -0.002674
2014-01-08    0.002681
Name: zhongxin, dtype: float64

### 中原海運報酬率資料

In [462]:
zyhy = df.iloc[:,1].pct_change(1)[1:]#pct_change 是取百分比變化，括號裡可以放置間格天數，第一項為 NaN不取
zyhy.head(5)

Date
2014-01-02    0.002849
2014-01-03   -0.048295
2014-01-06   -0.035821
2014-01-07   -0.009288
2014-01-08   -0.009375
Name: zyhy, dtype: float64

### 三因子模型

In [463]:
df2 = pd.read_table(r'C:\Users\s0954\Desktop\財金計量方法\Fama_hw\B10733033_王廣和_財金計量方法_三因子模型\ThreeFactors.txt')
df2.head(5)

,MarkettypeID,TradingDate,RiskPremium1,RiskPremium2,SMB1,SMB2,HML1,HML2
0,P9710,1992/1/30,0.0098,0.0068,-0.000193,-0.003945,0.001878,0.001132
1,P9710,1992/1/31,0.0138,0.0098,0.007597,0.006065,-0.003275,-0.002141
2,P9710,1992/2/1,0.0058,0.0058,0.011516,0.009544,-0.006743,-0.006776
3,P9710,1992/2/2,0.0068,0.0068,0.002621,0.002467,0.004255,0.004255
4,P9710,1992/2/3,0.0058,0.0068,0.006923,0.007519,-0.009798,-0.009623

### 將日期設為index，方便與其他資料整合

In [464]:
df2.index = pd.to_datetime(df2.TradingDate)
df2.head(5)

,MarkettypeID,TradingDate,RiskPremium1,RiskPremium2,SMB1,SMB2,HML1,HML2
TradingDate,,,,,,,,
1992-01-30,P9710,1992/1/30,0.0098,0.0068,-0.000193,-0.003945,0.001878,0.001132
1992-01-31,P9710,1992/1/31,0.0138,0.0098,0.007597,0.006065,-0.003275,-0.002141
1992-02-01,P9710,1992/2/1,0.0058,0.0058,0.011516,0.009544,-0.006743,-0.006776
1992-02-02,P9710,1992/2/2,0.0068,0.0068,0.002621,0.002467,0.004255,0.004255
1992-02-03,P9710,1992/2/3,0.0058,0.0068,0.006923,0.007519,-0.009798,-0.009623

In [465]:
df2.TradingDate = pd.to_datetime(df2.TradingDate)

## 計算

### 三因子公式

## $ R_i-R_f = \alpha + \beta_0 \space (R_{market}-R_{f} )  + \beta_1 \space (R_{small}-R_{big}) + \beta_2 \space (R_{high}-R_{low})$

$個股報酬-無風險利率 = \alpha(超額報酬) + \beta_0 \times 市場風險因子+ \beta_1 \times 公司規模 + \beta_2 \times 淨值因子$

採用一年期定存利率為主。台銀2015一年期定存利率0.755%

In [466]:
Rf = 0.755 
Rf = (Rf**(1/360)-1)
Rf

-0.0007803551692261435

In [467]:
#過濾2014年的資料
filter1 = df2['TradingDate'] >= "2014-01-01"
filter2 = df2['TradingDate'] <= "2014-12-31"
df2_2014 = df2[filter1 & filter2]
df2_2014.head(20)

,MarkettypeID,TradingDate,RiskPremium1,RiskPremium2,SMB1,SMB2,HML1,HML2
TradingDate,,,,,,,,
2014-01-02,P9710,2014-01-02,-0.001081,0.000919,-0.017003,-0.014747,-0.017604,-0.019279
2014-01-03,P9710,2014-01-03,-0.010081,-0.009081,-0.008988,-0.005061,-0.013391,-0.015440
2014-01-06,P9710,2014-01-06,-0.018081,-0.020081,0.015599,0.015898,0.009912,0.009018
2014-01-07,P9710,2014-01-07,0.000919,0.001919,-0.008349,-0.007034,-0.014506,-0.015003
2014-01-08,P9710,2014-01-08,-0.000081,0.001919,-0.005764,-0.001121,-0.017683,-0.019687
2014-01-09,P9710,2014-01-09,-0.010081,-0.010081,0.012566,0.013437,0.004122,0.003975
2014-01-10,P9710,2014-01-10,-0.009081,-0.010081,0.011872,0.010960,0.009872,0.009492
2014-01-13,P9710,2014-01-13,-0.001081,-0.001081,-0.000837,-0.001889,0.004643,0.002787
2014-01-14,P9710,2014-01-14,0.010919,0.011919,-0.015725,-0.014984,-0.011261,-0.011641
2014-01-15,P9710,2014-01-15,-0.000081,0.000919,-0.010458,-0.009271,-0.018686,-0.018326
2014-01-16,P9710,2014-01-16,-0.000081,-0.000081,-0.003214,-0.003670,0.002489,0.003901
2014-01-17,P9710,2014-01-17,-0.008081,-0.009081,-0.000146,-0.001304,0.004540,0.001338
2014-01-20,P9710,2014-01-20,-0.007081,-0.008081,0.000447,-0.001170,0.005993,0.007410
2014-01-21,P9710,2014-01-21,0.009919,0.010919,-0.011354,-0.009469,-0.008191,-0.011107
2014-01-22,P9710,2014-01-22,0.020919,0.021919,0.000517,0.002107,-0.005336,-0.004374
2014-01-23,P9710,2014-01-23,-0.002081,-0.001081,-0.015306,-0.012416,-0.019918,-0.021522
2014-01-24,P9710,2014-01-24,0.006919,0.007919,-0.005941,-0.003627,-0.009434,-0.010457
2014-01-27,P9710,2014-01-27,-0.009081,-0.009081,-0.008388,-0.009165,-0.007643,-0.008194
2014-01-28,P9710,2014-01-28,0.000919,0.001919,0.002361,0.002897,0.006049,0.004695
2014-01-29,P9710,2014-01-29,0.005919,0.006919,-0.007081,-0.003966,-0.008423,-0.009511

### 中新的三因子表格合併

In [468]:
zhongxin_df = pd.concat([zhongxin-Rf,              # y
                         df2_2014['RiskPremium1'], # market factor
                         df2_2014['SMB1'],         # size factor
                         df2_2014['HML1']        # value factor
                        ],
                         axis = 1)
zhongxin_df= zhongxin_df.dropna(axis=0,how='any')
zhongxin_df.head(20)

            zhongxin  RiskPremium1      SMB1      HML1
2014-01-02 -0.001804     -0.001081 -0.017003 -0.017604
2014-01-03 -0.014764     -0.010081 -0.008988 -0.013391
2014-01-06 -0.015009     -0.018081  0.015599  0.009912
2014-01-07 -0.001893      0.000919 -0.008349 -0.014506
2014-01-08  0.003461     -0.000081 -0.005764 -0.017683
2014-01-09 -0.004567     -0.010081  0.012566  0.004122
2014-01-10 -0.001908     -0.009081  0.011872  0.009872
2014-01-13  0.014257     -0.001081 -0.000837  0.004643
2014-01-14 -0.007198      0.010919 -0.015725 -0.011261
2014-01-15 -0.023348     -0.000081 -0.010458 -0.018686
2014-01-16 -0.001967     -0.000081 -0.003214  0.002489
2014-01-17 -0.010239     -0.008081 -0.000146  0.004540
2014-01-20  0.000780     -0.007081  0.000447  0.005993
2014-01-21  0.009137      0.009919 -0.011354 -0.008191
2014-01-22  0.014593      0.020919  0.000517 -0.005336
2014-01-23 -0.007394     -0.002081 -0.015306 -0.019918
2014-01-24  0.003528      0.006919 -0.005941 -0.009434
2014-01-27 -0.004699     -0.009081 -0.008388 -0.007643
2014-01-28  0.017309      0.000919  0.002361  0.006049
2014-01-29  0.008910      0.005919 -0.007081 -0.008423

In [469]:
result1 = sm.OLS(zhongxin_df['zhongxin'],sm.add_constant(zhongxin_df[['RiskPremium1','SMB1','HML1']])).fit()

In [470]:
print(result1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               zhongxin   R-squared:                       0.385
Model:                            OLS   Adj. R-squared:                  0.377
Method:                 Least Squares   F-statistic:                     50.26
Date:                Sun, 02 May 2021   Prob (F-statistic):           2.88e-25
Time:                        18:59:05   Log-Likelihood:                 588.80
No. Observations:                 245   AIC:                            -1170.
Df Residuals:                     241   BIC:                            -1156.
Df Model:                           3
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const            0.0020      0.001      1.398      0.163      -0.001       0.005
RiskPremium1     1.1863      0.131      9.057      0.000       0.928       1.444
SMB1            -0.1199      0.227     -0.528      0.598      -0.567       0.327
HML1             0.9113      0.237      3.838      0.000       0.444       1.379
==============================================================================
Omnibus:                       81.048   Durbin-Watson:                   1.798
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              367.135
Skew:                           1.261   Prob(JB):                     1.89e-80
Kurtosis:                       8.441   Cond. No.                         227.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### 結果

$R_{zhongxin} -R_f= 0.0020 + 1.1863\space Market Risk Premium-0.1199 \space Size Factor+0.9113 \space BookToMarket Factor $

**There's no data about risk-free

### 中原海運的三因子表格合併

In [471]:
zyhy_df = pd.concat([zyhy-Rf,                  # y
                     df2_2014['RiskPremium2'], # market factor
                     df2_2014['SMB2'],         # size factor
                     df2_2014['HML2']],        # value factor
                     axis = 1)
zyhy_df = zyhy_df.dropna(axis=0,how='any')
zyhy_df.head(5)

                zyhy  RiskPremium2      SMB2      HML2
2014-01-02  0.003629      0.000919 -0.014747 -0.019279
2014-01-03 -0.047515     -0.009081 -0.005061 -0.015440
2014-01-06 -0.035041     -0.020081  0.015898  0.009018
2014-01-07 -0.008508      0.001919 -0.007034 -0.015003
2014-01-08 -0.008595      0.001919 -0.001121 -0.019687

In [472]:
result2 = sm.OLS(zyhy_df['zyhy'],sm.add_constant(zyhy_df[['RiskPremium2','SMB2','HML2']])).fit()

In [473]:
print(result2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   zyhy   R-squared:                       0.223
Model:                            OLS   Adj. R-squared:                  0.213
Method:                 Least Squares   F-statistic:                     23.01
Date:                Sun, 02 May 2021   Prob (F-statistic):           3.94e-13
Time:                        18:59:05   Log-Likelihood:                 598.75
No. Observations:                 245   AIC:                            -1190.
Df Residuals:                     241   BIC:                            -1175.
Df Model:                           3
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const            0.0028      0.001      2.077      0.039       0.000       0.006
RiskPremium2     0.9948      0.126      7.893      0.000       0.746       1.243
SMB2            -0.7332      0.223     -3.288      0.001      -1.172      -0.294
HML2             0.7493      0.211      3.559      0.000       0.335       1.164
==============================================================================
Omnibus:                      105.816   Durbin-Watson:                   1.766
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              440.407
Skew:                           1.763   Prob(JB):                     2.33e-96
Kurtosis:                       8.542   Cond. No.                         220.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### 結果

$R_{zyhy} = 0.0028 + 0.9948\space Market Risk Premium-0.7332\space Size Factor+0.7493\space Value Factor$

**BookToMarket Factor is not statistically significant

**There's no data about risk-free

# 習題六

In [474]:
df3 = pd.read_csv(r'C:\Users\s0954\Desktop\財金計量方法\Fama_hw\B10733033_王廣和_財金計量方法_三因子模型\2498.csv')
df3.head(5)

         Date      Date.1   Close    Open    High     Low  Volume     ROI
0  2014-01-02  2014-01-02  137.58  140.56  141.06  137.09    7964 -1.7730
1  2014-01-03  2014-01-03  137.58  137.58  140.07  137.09    6599  0.0000
2  2014-01-06  2014-01-06  132.62  137.58  138.58  132.12   14005 -3.6101
3  2014-01-07  2014-01-07  130.13  131.62  132.62  128.64   13705 -1.8727
4  2014-01-08  2014-01-08  129.14  130.13  131.62  129.14    7623 -0.7634

註:這邊直接取用ROI 

# $ROI = \frac{Close_{t}-Close_{t-1}}{Close_{t-1}}$

In [475]:
df3.index = pd.to_datetime(df3.Date)
df3.Date = pd.to_datetime(df3.Date)
df3.head(5)

,Date,Date.1,Close,Open,High,Low,Volume,ROI
Date,,,,,,,,
2014-01-02,2014-01-02,2014-01-02,137.58,140.56,141.06,137.09,7964,-1.7730
2014-01-03,2014-01-03,2014-01-03,137.58,137.58,140.07,137.09,6599,0.0000
2014-01-06,2014-01-06,2014-01-06,132.62,137.58,138.58,132.12,14005,-3.6101
2014-01-07,2014-01-07,2014-01-07,130.13,131.62,132.62,128.64,13705,-1.8727
2014-01-08,2014-01-08,2014-01-08,129.14,130.13,131.62,129.14,7623,-0.7634

In [476]:
df_2498 = pd.concat([(df3['ROI']-Rf)/100,                                   # y
                     (df2_2014['RiskPremium1']+df2_2014['RiskPremium2'])/2, # market factor
                     (df2_2014['SMB1']+df2_2014['SMB2'])/2,                 # size factor
                     (df2_2014['HML1']+df2_2014['HML2'])/2                  # value factor
                    ],axis = 1)
df_2498 = df_2498.dropna(axis=0,how='any')
df_2498.columns= ['ROI','RiskPremium','SMB','HML']
df_2498.head(5)

                 ROI  RiskPremium       SMB       HML
2014-01-02 -0.017722    -0.000081 -0.015875 -0.018441
2014-01-03  0.000008    -0.009581 -0.007024 -0.014416
2014-01-06 -0.036093    -0.019081  0.015748  0.009465
2014-01-07 -0.018719     0.001419 -0.007691 -0.014755
2014-01-08 -0.007626     0.000919 -0.003443 -0.018685

In [477]:
#2498三因子模型
result3 = sm.OLS(df_2498['ROI'],sm.add_constant(df_2498[['RiskPremium','SMB','HML']])).fit()
print(result3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    ROI   R-squared:                       0.019
Model:                            OLS   Adj. R-squared:                  0.007
Method:                 Least Squares   F-statistic:                     1.519
Date:                Sun, 02 May 2021   Prob (F-statistic):              0.210
Time:                        18:59:06   Log-Likelihood:                 589.62
No. Observations:                 238   AIC:                            -1171.
Df Residuals:                     234   BIC:                            -1157.
Df Model:                           3
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const          -0.0001      0.001     -0.095      0.924      -0.003       0.003
RiskPremium     0.2601      0.122      2.125      0.035       0.019       0.501
SMB            -0.0999      0.218     -0.458      0.647      -0.529       0.330
HML             0.0663      0.218      0.305      0.761      -0.363       0.495
==============================================================================
Omnibus:                       15.567   Durbin-Watson:                   2.197
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               24.053
Skew:                           0.410   Prob(JB):                     5.98e-06
Kurtosis:                       4.324   Cond. No.                         226.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [478]:
result3.params

const         -0.000128
RiskPremium    0.260059
SMB           -0.099903
HML            0.066328
dtype: float64

In [479]:
#過濾2015年的資料
filter3 = df2['TradingDate'] >= "2015-01-01"
filter4 = df2['TradingDate'] <= "2015-01-31"
df_2015 = df2[filter3 & filter4]
df_2015.head(5)

,MarkettypeID,TradingDate,RiskPremium1,RiskPremium2,SMB1,SMB2,HML1,HML2
TradingDate,,,,,,,,
2015-01-05,P9710,2015-01-05,0.033926,0.030926,0.037147,0.032969,0.033216,0.036105
2015-01-06,P9710,2015-01-06,0.002926,0.004926,-0.021998,-0.018519,-0.023558,-0.025566
2015-01-07,P9710,2015-01-07,0.002926,0.002926,0.007548,0.006314,0.005183,0.005311
2015-01-08,P9710,2015-01-08,-0.022074,-0.019074,-0.025485,-0.022480,-0.029721,-0.031789
2015-01-09,P9710,2015-01-09,-0.002074,-0.002074,0.007416,0.007961,0.002365,0.001750

In [480]:
RP_2015 = (df_2015['RiskPremium1']+df_2015['RiskPremium2'])/2
SMB_2015 = (df_2015['SMB1']+df_2015['SMB2'])/2
HML_2015 = (df_2015['HML1']+df_2015['HML2'])/2

In [481]:
a,b1,b2,b3 = result3.params

In [482]:
y = a+b1*RP_2015+b2*SMB_2015+b3*HML_2015+Rf
y

TradingDate
2015-01-05    0.006321
2015-01-06    0.000507
2015-01-07   -0.000492
2015-01-08   -0.005903
2015-01-09   -0.002079
2015-01-12   -0.006919
2015-01-13    0.000899
2015-01-14   -0.001333
2015-01-15    0.006210
2015-01-16    0.001689
2015-01-19   -0.017837
2015-01-20    0.004966
2015-01-21    0.009775
2015-01-22    0.000955
2015-01-23   -0.001235
2015-01-26    0.003577
2015-01-27   -0.002653
2015-01-28   -0.003118
2015-01-29   -0.003599
2015-01-30   -0.004055
dtype: float64

### 結果

$R_{2498} = 26.0059\space MarketRiskPremium$

**There's no data about risk-free

**Neither Size Factor nor BookToMarket Factor is not statistically significant

In [483]:
#2498CAPM模型
result3_1 = sm.OLS(df_2498['ROI'],sm.add_constant(df_2498[['RiskPremium']])).fit()
print(result3_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    ROI   R-squared:                       0.018
Model:                            OLS   Adj. R-squared:                  0.014
Method:                 Least Squares   F-statistic:                     4.329
Date:                Sun, 02 May 2021   Prob (F-statistic):             0.0385
Time:                        18:59:07   Log-Likelihood:                 589.49
No. Observations:                 238   AIC:                            -1175.
Df Residuals:                     236   BIC:                            -1168.
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const          -0.0001      0.001     -0.107      0.915      -0.003       0.002
RiskPremium     0.2509      0.121      2.081      0.039       0.013       0.489
==============================================================================
Omnibus:                       15.309   Durbin-Watson:                   2.194
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               23.415
Skew:                           0.407   Prob(JB):                     8.23e-06
Kurtosis:                       4.303   Cond. No.                         91.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### 結果

$R_{2498} = 25.0934\space MarketRiskPremium$

**There's no data about risk-free

In [484]:
c,d1 = result3_1.params

In [485]:
y2 = c +d1*RP_2015
y2

TradingDate
2015-01-05    0.007994
2015-01-06    0.000842
2015-01-07    0.000592
2015-01-08   -0.005305
2015-01-09   -0.000663
2015-01-12   -0.003800
2015-01-13    0.000968
2015-01-14   -0.000914
2015-01-15    0.007492
2015-01-16    0.002975
2015-01-19   -0.017852
2015-01-20    0.005234
2015-01-21    0.011005
2015-01-22    0.001470
2015-01-23   -0.000287
2015-01-26    0.005610
2015-01-27   -0.002043
2015-01-28   -0.003298
2015-01-29   -0.003047
2015-01-30   -0.003674
dtype: float64

In [486]:
predict = pd.concat([y,y2],axis=1)
predict

                    0         1
TradingDate
2015-01-05   0.006321  0.007994
2015-01-06   0.000507  0.000842
2015-01-07  -0.000492  0.000592
2015-01-08  -0.005903 -0.005305
2015-01-09  -0.002079 -0.000663
2015-01-12  -0.006919 -0.003800
2015-01-13   0.000899  0.000968
2015-01-14  -0.001333 -0.000914
2015-01-15   0.006210  0.007492
2015-01-16   0.001689  0.002975
2015-01-19  -0.017837 -0.017852
2015-01-20   0.004966  0.005234
2015-01-21   0.009775  0.011005
2015-01-22   0.000955  0.001470
2015-01-23  -0.001235 -0.000287
2015-01-26   0.003577  0.005610
2015-01-27  -0.002653 -0.002043
2015-01-28  -0.003118 -0.003298
2015-01-29  -0.003599 -0.003047
2015-01-30  -0.004055 -0.003674

In [487]:
r1 = ((1.355)**(1/360)-1)*100
r1

0.08442491065214774